@tailwind base;
@tailwind components;
@tailwind utilities;

.netflixHero {
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: white;
    --swiper-pagination-color: #e50914;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-weight: bold;
}

.swiper-pagination-bullet-active {
    transform: scale(1.2);
}

.top10-badge {
    background: linear-gradient(
        90deg,
        rgba(229, 9, 20, 1) 0%,
        rgba(193, 10, 36, 1) 50%,
        rgba(168, 12, 46, 1) 100%
    );
}
.swiper-slide {
    transition: transform 0.3s ease;
}
.swiper-slide:hover {
    transform: scale(1.05);
    z-index: 10;
}
